<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <title>Edit Quiz</title>
</head>

<body>
    <div class="container text-center">
    <h1>Edit quiz</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form th:object="${quiz}" th:action="@{/quiz/save}" method="post">

                    <input type="hidden" th:field="*{quizId}" />

                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control w-50" id="name" th:field="*{name}" />
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea id="description" rows="3" class="form-control w-50" th:field="*{description}"></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="courseCode" class="form-label">Course code</label>
                        <input type="text" class="form-control w-50" id="courseCode" th:field="*{courseCode}" />
                    </div>

                    <div class="mb-3">
                        <label for="category">Category:</label>
                        <select id="category" th:field="*{category}" required>
                                <option th:each="category : ${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
                        </select>
                    </div>

                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" th:field="*{publishedStatus}" value="1" />
                        <label class="form-check-label">Published</label>
                    </div>

                    <button type="submit" class="btn btn-primary">Update quiz</button>
                    <a href="/"><button type="button" class="btn btn-danger">Cancel</button></a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>