<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizlist</title>
</head>

<body>
    <h1>Quizzers</h1>

    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Course</th>
            <th>Published</th>
            <th>Added on</th>
        </tr>
        <tr th:each="quiz : ${quizzes}">
            <td th:text="${quiz.name}"></td>
            <td th:text="${quiz.description}"></td>
            <td th:text="${quiz.courseCode}"></td>
            <td>
                <span th:if="${quiz.publishedStatus == 1}">Published</span>
                <span th:if="${quiz.publishedStatus != 1}">Not published</span>
            </td>
            <td th:text="${quiz.creationDate}"></td>

        </tr>
        </table>
        <a href="/addquiz">Add a quiz</a>

</body>

</html>